/* Write your CSS code here */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50vw;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.label {
  font-family: 'Roboto';
  font-size: 20px;
  color: darkslategray;
  margin: 5px;
}
.input {
  width: 40vw;
  height: 60px;
  font-size: 20px;
  border-radius: 6px;
  margin: 5px;
  cursor: pointer;
}
.button {
  background-color: blue;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  border: 0px;
  margin: 5px;
}
@media screen and (max-width: 567px) {
  .label {
    font-family: 'Roboto';
    font-size: 10px;
    color: darkslategray;
    margin: 5px;
  }
  .input {
    width: 30vw;
    height: 20px;
    font-size: 20px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
  }
  .button {
    background-color: blue;
    color: white;
    font-size: 10px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
  }
}
